.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
    
}

.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    
}

.nav-connexion{
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #fff;
    color: #262626;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}

.nav-connexion:hover{
    background-color: #fff;
    color: #fff;
    box-shadow: inset 200px 0 0 0 #2497F3;
}


.navbar-link {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #66fcf1;
    color: white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

.navbar-link:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    border-radius: 5px;
    color: white;
  }